/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}



body {
    background-color: #FAF8F3;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 10% 2fr 10%;
    grid-template-rows: max-content;
    grid-template-areas: 
        'library-header library-header library-header'
        '.............. library-content .............';
    row-gap: 2rem;
}

.library-header {
    background-color: #4B4A54;
    grid-area: library-header;
    justify-items: center;
    padding: 2rem;
}

.library-header h1 {
    color: #FAF8F3;
    font-size: 3rem;
}

.library-header p {
    color: #CBB6A0;
}

.library-content {
    grid-area: library-content;
}

.library-content section {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 1rem;
}

.book-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.book-card {
    background-color: #CBB6A0;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.toggle-track {
  display: flex;
  width: 100px;
  height: 30px;
  background-color: #ffd2cf;
  border-radius: 100px;
  position: relative;
  align-items: center;
  justify-content: center;
  outline: 2px solid #FF6961;
}

.toggle-button {
  appearance: none;
  background-color: #FF6961;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  transition: 250ms ease-in-out;
}

/* Contains the text inside the track */
.toggle-track::before {
  content: "Unread";
  position: relative;
  left: 5px;
}

/* Contains the logo of the toggle-button */
.toggle-button::before {
  content: '\2715';
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffd2cf;
}

.toggle-track:has(.toggle-button:checked) {
  background-color: #d6f4d6;
  outline: 2px solid #77DD77;
}

.toggle-button:checked {
  background-color: #77DD77;
  transform: translateX(70px);
  transition: 250ms ease-in-out;
}

/* Contains the text inside the track */
.toggle-track:has(.toggle-button:checked)::before {
  content: "Read";
  position: relative;
  left: 0;
}

/* Contains the logo of the toggle-button */
.toggle-button:checked::before {
  content: '\2713';
  color: #d6f4d6;
}